<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-if="logado">{{usuario}}</h1>
        <input v-model="message" v-else>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <script>
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!' , 
    logado: true , 
    usuario: "diogin"
  }
})
    </script>
</body>
</html>